video/*
!video/src
remote/*
!remote/src
*.mov
.DS_Store
.com.apple.timemachine.supported
arduino/.DS_Store
*.mp4
ImageSeqFromOSC/*
!ImageSeqFromOSC/src
!ImageSeqFromOSC/addons.make
!ImageSeqFromOSC/bin/data
*.obj
